{% extends 'adminbase.html.twig' %}

{% block title %} edit Offre {% endblock %}

    {% block content %}
          <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Accueil</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{{path('accueil')}}" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">accueil</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu"> Tables</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{{path('app_offre_index')}}" aria-expanded="false">
              <span>
                <i class="ti ti-article"></i>
              </span>
              <span class="hide-menu">Offres</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{{path('app_events_dash')}}" aria-expanded="false">
              <span>
                <i class="ti ti-alert-circle"></i>
              </span>
              <span class="hide-menu">Events</span>
            </a>
          </li>
        {% endblock %}



{% block body %}
    <h1 style="margin-left: 650px; margin-bottom: 10px;"> Modifer l'offre </h1>
{#
    {{ include('offre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offre_index') }}">Retour</a>

    {{ include('offre/_delete_form.html.twig') }} 
    #}
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              {{ include('offre/_form.html.twig', {'button_label': 'Modifier'}) }}
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <a href="{{ path('app_offre_index') }}">Retour</a>
          </div>
      </div>

      <hr class="my-4">

      <div class="row">
          <div class="col-md-12">
              {{ include('offre/_delete_form.html.twig') }}
          </div>
      </div>
  </div>
{% endblock %}
